<div *ngIf="wait; then spinner else details"></div>
<ng-template #spinner>
    <transition></transition>
</ng-template>
<ng-template #details>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Event details
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div>{{event.Title}}</div>
            <div>{{event.Date | date}}</div>
        </mat-card-content>
        <mat-card-content>
                <div>{{event.Description}}</div>
        </mat-card-content>
        <mat-card-content>
            <div>{{event.Notes}}</div>
        </mat-card-content>
        <mat-card-footer>
                <button routerLink="/" mat-button>back to the list</button>
        </mat-card-footer>
    </mat-card>
</ng-template>