/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.centered-div {
    position: fixed;
    top: 50%;
    left: 50%;
 }

  .height100{
    min-height: 100px;
  }

  .height250{
    min-height: 250px;
  }

  mat-card-footer{
      padding: 1em;
  }

 mat-card {
    margin:1em;    
    min-width: calc(100% - 70px);
    min-height: calc(100% - 70px);
  }

  mat-list-item{
    cursor: pointer;
  }

